a.more_link{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.overlay{
    opacity:0;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1000;
    display:none;
}
.bg-img{
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
.full-view-elements{
    display:none;
}
.full-view{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1000;
}
.header{
    position:relative;
    padding:20px 30px;
    float:left;
    color:#fff;
    margin:5px;
    -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
    box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
.fancy{
    font-family:'Ovo', 'Georgia', Baskerville, "Hoefler Text", Garamond, serif;
}
.header .fancy{
    font-size:30px;
}
.block .fancy{
    font-size:18px;
}

.header h2{
    font-size:23px;
    text-transform:uppercase;
    font-weight: 700;
    color: #000;
}
p.subline{
    font-family:'Oswald', sans-serif;
    line-height:20px;
    font-size:13px;
    text-transform: uppercase;
    font-style:normal;
    font-weight: 300;
}
.block{
    float:left;
    background:#4c616b;
    color: #d5e1e6;
    margin: 5px;
    overflow: hidden;
}
.block-small{
    width:160px;
}
.block-medium{
    width:174px;
}
.block h2{
    font-size:23px;
    text-transform:uppercase;
    font-weight: 700;
    color: #fff;
    padding:  10px 0;
}
.block p{
    line-height:20px;
    padding-bottom:5px;
}
.block p.subline{
    margin:10px 0px;
    font-style:normal;
}
.block img{
    border:none;
    display:block;
}
.project-descr{
    display:none;
}
.project-descr-full{
    background:#fff;
    height:186px;
    padding:0;
    position:fixed;
    top:50%;
    width:100%;
    opacity:0.9;
    left:0px;
    margin:-93px 0 0 0;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.project-descr-full-wrapper{
    margin:20px;
    height:146px;
    overflow:hidden;
}
.project-descr-full-content p{
    line-height: 34px;
    padding-bottom: 5px;
    font-size: 20px;
    font-style: italic;
}
.full-view .thumbs-wrapper{
    margin:5px 5px 5px 20px;
    float:right;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.thumbs-wrapper{
    overflow:hidden;
    position:relative;
}
.thumbs img{
    float:left;
}
.thumbs-nav span{
    position:absolute;
    width:22px;
    height:40px;
    background:transparent url(../images/nav.png) no-repeat top left;
    top:50%;
    left:5px;
    margin-top:-20px;
    cursor:pointer;
    text-indent:-9000px;
    display:none;
}
.thumbs-nav span.thumbs-nav-next{
    left:auto;
    right:5px;
    background-position:top right;
}
.thumbs-nav span.thumbs-nav-prev:hover{
    background-position:bottom left;
}
.thumbs-nav span.thumbs-nav-next:hover{
    background-position:bottom right;
}
.full-view-exit{
    background:#222 url(../images/cross.png) no-repeat 10px 50%;
    position:absolute;
    top:5px;
    right:0px;
    cursor:pointer;
    width:50px;
    height:46px;
    text-indent:-9000px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    -ms-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}
.full-view-exit:hover{
    width:60px;
}
.full-nav{
    float:right;
    padding-top:5px;
}
.full-nav-prev,
.full-nav-next{
    float:left;
    width:22px;
    height:40px;
    background:transparent url(../images/nav.png) no-repeat bottom left;
    cursor:pointer;
    text-indent:-9000px;
}
.full-nav-next{
    background-position:bottom right;
}
.full-nav-pages{
    float:left;
    line-height:40px;
    font-size:12px;
    padding:0 10px;
    font-style:italic;
    color:#fff;
}
.intro {
    position: relative;
}
.intro-loading{
    background: transparent url(../images/loading.gif) no-repeat center center;
    opacity:0.6;
}
.grid-bg {
    opacity: .45;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.block:hover .grid-bg {
    opacity: .8;
}

.withimg h2 {
    margin: 0;
    padding: 0;
}
.loading-small{
    position:absolute;
    top:20px;
    right:20px;
    width:16px;
    height:16px;
    background: transparent url(../images/loading-small.gif) no-repeat center center;
    display:none;
}

 /*-------------------------------------------------
   Page builder blocks layout
 --------------------------------------------------*/

.aq-block {
    position: relative;
    float: left;
    margin: 25px 0;
}
.aq-block .slider-title {
   padding-bottom: 20px;
    position: relative;
}
.aq-block .slider-title .icon {
    position: relative;
    top: 5px;
}
.aq-block .slider-title .subtitle, .aq-block .slider-title h2.block-title {
    padding-left: 50px;
}
.text-block .aq-block {
    margin: 0;
}

.aq-block .promo {
    padding-top: 20px;
    padding-bottom: 0;
}
.aq-block-aq_info_row_block, .aq-block-aq_call2act_block {
    margin: 10px 0;
}

.wpb_tour_tabs_wrapper {
    line-height: 1.5;
    margin-top: 20px;
}

.call-to {
    margin: 0;
    float: none !important;
    padding-top: 20px;
}
.call-to.al-right{
    text-align: right;
}
.call-to.al-right .button {
    float: right;
    margin-left: 25px;
}
.call-to.al-left{
    text-align: left;

}
.call-to.al-left .button {
    float: left;
    margin-right: 25px;
    margin-top: 7px;
}
.call-to .button.large {
    font-size: 19px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype" , "dejavu sans", "helvetica neue", arial, sans-serif;
    text-transform: none;

}

.info-item, .info-item-alt {
    padding: 15px 25px;
    position: relative;
}
.info-item-alt {
    padding: 15px 0 15px 25px;
}
.info-item h6, .info-item-alt h6, .build-block-title h6 {
    margin: 0;
}
.info-item h2, .info-item-alt h2, .build-block-title h2 {
    margin: 0;
    margin-bottom: 28px;
}
.info-item h2, .info-item h2 a, .info-item-alt h2 , .info-item-alt h2 a, .build-block-title h2, .build-block-title h2 a {

}
.info-item .pic, .info-item-alt .pic {
    padding-bottom: 10px;
}
.info-item p, .info-item-alt p {
    margin-bottom: 0;
}
.info-item.clickable:active{
    -moz-transform: scale(.97);
    -webkit-transform: scale(.97);
    -o-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
}
.info-item.clickable a.link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
}
.info-item .pic.al-right, .info-item-alt .pic.al-right {
    text-align: right;
}
.info-item .al-center, .info-item-alt .al-center {
    text-align: center;
}
.info-item.dark  {
    background: #57bae8;
}
.info-item.dark h6 {
    color: #a1eeff;
}
.info-item.dark h2, .info-item.dark, .info-item.dark a {
    color: #ffffff;
}

.text-block.clearing-container {
    padding: 10px;
    border: 1px solid #F0F3F4;
    margin: 15px auto;
}

.info-item-alt .inner-text {
    margin-bottom: 30px;
}
.info-item-alt .pic{
    margin-bottom: 15px;
}

.build-block-title h2, .build-block-title h6, .info-item-alt h2, .info-item-alt h6 {
    padding-left: 50px;
}

.aq-block .small-gallery {
    position: relative;
    width: 110%;
}
.aq-block .small-gallery .item {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    line-height: 0;
}


.small-gallery .description {
    background-image: url("../img/plus.png")  ;
    background-position: center ;
    background-repeat: no-repeat;
}
.small-gallery .item a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.quote-text {
    padding: 20px 17px 15px 17px;
    line-height: 1.5;
    background: #f6f8f8;
    font-size: 13px;
}

.quote-autor {
    background: url("../img/quote-pipt.png") right top no-repeat;
    padding-top: 30px;
}
.quote-autor h6 {
    font-size: 11px;
}
.quote-autor h3 {
    font-size: 24px;
}
.quote-autor h3, .quote-autor h3 a {
    margin: 0;
}

.small-gallery .item {
    position: relative;
    float: left;
}


.page-template-portfolio-masonry-php #post-nav {
    padding-left: 5px;
    padding-top: 20px;
}
#map img {
    max-width: none;
}
.author-description h4 {position:relative; top:-5px;}
