body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 11pt Arial,Helvetica,sans-serif;
	background: #F6FEE6;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: #F6FEE6;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #F6FEE6;
}

#content
{
	float: right;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #cad6b3;
	height: 100px;
}

#mainmenu
{
	margin-top: 600px;
	width: 180px;
	float: left;
	margin-left: -115px;
}

#navigation {
	border-right:1px solid #999;
	padding:10px 0px;
	width:145px;
}

/*
#navigation a  {
	display:block;
	background:url(navigation.png);
	height:47px;
	text-indent:-9000px;
}


#navigation a.link1:hover {background-position:-146px 0px;}
#navigation a.link2 {background-position:0px -47px;}
#navigation a.link2:hover {background-position:-146px -47px;}
#navigation a.link3 {background-position:0px -94px;}
#navigation a.link3:hover{background-position:-146px -94px;}
#navigation a.link4 {background-position:0px -141px;}
#navigation a.link4:hover {background-position:-146px -141px;}
#navigation a.link5 {background-position:0px -188px;}
#navigation a.link5:hover {background-position:-146px -188px;}
#navigation a.link6 {background-position:0px -235px;}
#navigation a.link6:hover {background-position:-146px -235px;}
#navigation a.link7 {background-position:0px -282px;}
#navigation a.link7:hover {background-position:-146px -282px;}
#navigation a.link8 {background-position:0px -329px;}
#navigation a.link8:hover {background-position:-146px -329px;}
#navigation a.link9 {background-position:0px -375px; height:65px;}
#navigation a.link9:hover {background-position:-146px -375px;}
*/



#mainmenu ul
{
	list-style: none;  
   font-size: 16px;  
   margin: 30px 0;
   margin-right: 10px;
   width: 170px;   
}

#mainmenu ul li
{
	display: block;  
	background: #DDE9AF;
	margin-top: 3px;
	width: 140px;
	box-shadow: 2px 2px 2px #888;
	-o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

#mainmenu ul li:hover{
	 background: #cad6b3;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#mainmenu ul li a
{
   margin-top: 3px;
   color: #999;    
   text-decoration: none;
   font-weight: bold;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	text-decoration:none;
}



div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#links_header{
	float: left;
	width: 953px;
	height: 90px;
	margin-top: 5px;
	margin-left: -110px;
}

#link_header{
	float: left;
	width: 308px;
	height: 82px;
	margin-left: 9px;
	opacity: 1; 
	-moz-opacity: 0.9;
	-o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
	Filter: Alpha(Opacity=90)
}

#link_header:hover {
	opacity: 0.5; 
	-moz-opacity: 0.1;
	-o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
	Filter: Alpha(Opacity=500)
}



#menu_header{
	float: left;
	width: 940px;
	height: 65px;
	margin-left: -100px;
	margin-top: 10px;	
}

/*Submenu */

#submenu_header{
	float: left;
	width: 960px;
	height: 50px;
}

#sub_administracao{
	float: left;
	margin-left: 150px;
}

#sub_item{
	float: left;
	margin-left: 40px;
}

#sub_acontece{
	float: right;
	margin-right: 140px;
}

#menu_dashboard
{
	width: 860px;
   height: 50px;
   margin-top: 145px;
   margin-left: 50px;
}